{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
<ul>
  <li><a href="/">/root</a></li>
  <li><a href="/ip">IP test page</a></li>
  <li><a href="/faq">Questions & Answers</a></li>
  <li><a href="/map">World Map</a></li>
  <li><a href="/info">Projekt Info</a></li>
</ul>

    <div>
      {% for k, v in data.items() %}
      <div class="col-md-2 column productbox" style="border-style: solid; margin:10px;">
        <img src="{{v[1]}}" class="img-responsive">
        <div class="producttitle">{{v[0]}}</div>
        <div class="productprice"><div class="pull-right"><a href="/{{k}}" class="btn btn-danger btn-sm" style="margin:5px" role="button">View</a></div></div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
{% endblock %}
